<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MiaoWu Movie</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href="/css/movie_details.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/js/movie_details.js"></script>
</head>

<body>
<div th:insert="top_black.html"/>
<div class="container">

  <div class="card" style="border: none;">
    <div class="card-body">
      <div class="finalscore position-absolute">
        <div class="title">评分</div>
        <div class="score" th:text="${film.score}"></div>
      </div>

      <div class="MovieName"th:text="${film.filmname}"></div>
      <div class="row">
        <div class="col-3">
          <img class="actor-img" th:src="@{'/film/'+${film.file_haibao}}">
        </div>
        <div class="col-9">
          <div><span class="title">导演</span>
            <span class="content" th:text="${film.director}">温子仁</span>
          </div>

          <div><span class="title">编剧：</span>
            <span class="content" th:text="${film.bianju}"></span>
          </div>

          <div><span class="title">主演：</span>
            <a href="#">范·迪塞尔</a> /
            <a href="#">保罗·沃克</a> /
            <a href="#">杰森·斯坦森</a> /
            <a href="#">米歇尔·罗德里格兹</a> /
            <a href="#">乔丹娜·布鲁斯特 </a>
          </div>

          <div><span class="title">类型：</span>
            <span class="content"th:text="${film.type}">动作</span>
          </div>

          <div><span class="title">地区：</span>
            <span class="content"th:text="${film.region}"></span>
          </div>

          <div><span class="title" >上映时间：</span>
            <span class="content"th:text="${film.release_time}">2015-04-12</span>
          </div>

          <div><span class="title" >片长：</span>
            <span class="content" th:text="${film.length}"></span>
          </div>

          <div><span class="title">简介：</span>
            <span class="content" th:text="${film.introduce}"></span>
          </div>

          <div>
            <button type="button" class="btn btn-warning">
              <img th:src="@{/icon/play.svg}" alt="" style="width: 16px; height: 16px;">
              点击播放</button>

            <div class="rate" style="float: right;">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="option1">
                <label class="form-check-label" for="inlineRadio1">2分</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">4分</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">6分</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">8分</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="option2">
                <label class="form-check-label" for="inlineRadio2">10分</label>
              </div>

              <button type="button" class="btn btn-outline-warning">点击评分</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="card" style="border: none;">
    <div class="card-body">
      <div class="dotline"></div>
      <div class="comment-title">
        评论区
      </div>

      <div class="row">
        <div class="col-11">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-outline-primary w-100 h-100">发布</button>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div><span class="username">用户123456</span>&nbsp;&nbsp;&nbsp;<span class="score">评分：9.5</span></div>
      <div class="comment-content">非常好看非常不错，值得推荐</div>
    </li>
    <li class="list-group-item">
      <div><span class="username">用户123456</span>&nbsp;&nbsp;&nbsp;<span class="score">评分：9.5</span></div>
      <div class="comment-content">非常好看非常不错，值得推荐</div>
    </li>
    <li class="list-group-item">
      <div><span class="username">用户123456</span>&nbsp;&nbsp;&nbsp;<span class="score">评分：9.5</span></div>
      <div class="comment-content">非常好看非常不错，值得推荐</div>
    </li>
  </ul>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        crossorigin="anonymous"></script>

</body>

</html>