<script type="text/javascript" src="/js/top.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style type="text/css">
    a {
        text-decoration: none; /* 去除下划线 */
        color: inherit; /* 继承父元素的颜色 */
        cursor: pointer; /* 修改鼠标指针样式 */
    }
</style>
<nav class="navbar navbar-expand-lg text-white bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img th:src="@{/icon/cat-white.svg}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      喵呜电影
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">主页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ranking/">排行榜</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/actorlist">演员</a>
        </li>
      </ul>

      <ul class="navbar-nav" >
          <li th:if="${session.usersLogin}"class="nav-item">
              <a class="nav-link"><span th:text="'欢迎 '+${session.usersLogin.getMname()}+'!'"/></a>
          </li>
          <li th:unless="${session.usersLogin}"class="nav-item">
              <a class="nav-link">看电影，就上喵呜电影网！</a>
          </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/index/toVipCharge">
                <img th:src="@{/icon/VIP.svg}" alt="VIP" width="30" height="24" class="d-inline-block align-text-top">
            </a>
        </li>
      </ul>
      <ul class="navbar-nav" >
          <li th:if="${session.usersLogin}"class="nav-item">
            <a  class="nav-link" href="/index/logOut" >退出</a>
          </li>
          <li th:unless="${session.usersLogin}"class="nav-item">
              <a  class="nav-link" href="/index/toLogin" >登录</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/index/toRegister">注册</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/index/toBackstage">后台</a>
          </li>
      </ul>

    </div>
  </div>
</nav>
